<h2> Обсуждение </h2>

<div>
  <table id="chat-table"><%= render partial: 'message', collection: @task.messages %></table>
</div>

<%= render partial: "tabs_for_form", locals: {comment: "message"} %>
