<h2> Обсуждение </h2>

<div>
  <table id="chat-table"><%= render partial: 'message', collection: @task.messages %></table>
</div>

<span style="cursor:pointer; font-size: 1.2em; color:#A9A9A9" class="pull-right glyphicon glyphicon-wrench"></span>
<br>
<%= render 'new_message_form' %>
