<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h1 class="modal-title" id="MarkdownLabel">Синтаксис Markdown</h4>
</div>

<div class="modal-body">
  <table class="table table-striped">
   <thead>
     <tr>
       <th><h3>Результат</h3></th>
       <th><h3>Markdown</h3></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td><strong>Жирный</strong></td>
       <td>**Текст**</td>
     </tr>
     <tr>
       <td><em>Курсив</em></td>
       <td>*Текст*</td>
     </tr>
     <tr>
       <td><a>Ссылка</a></td>
       <td>[Описание](httl://)</td>
     </tr>
     <tr>
       <td><code>Код</code></td>
       <td>`код`</td>
     </tr>
     <tr>
       <td>H1</td>
       <td># Заголовок</td>
     </tr>
     <tr>
       <td>H2</td>
       <td>## Заголовок</td>
     </tr>
     <tr>
       <td>H3</td>
       <td>### Заголовок</td>
     </tr>
     <tr>
       <td><ul><li>Маркированный список</li></ol></td>
       <td>Три пробела + * + пробел</td>
     </tr>
     <tr>
       <td><ol><li>Нумерованный список</li></ol></td>
       <td>Три пробела + 1. + пробел</td>
     </tr>
   </tbody>
 </table>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
</div>
