<div class='nested-fields'>
    <%= f.input :text, as: 'text', label: "Текст замечания", required: false, input_html: { rows: 3 } %>
    <%= link_to_remove_association "Удалить замечание", f %>
</div>