<table class="table table-bordered">
  <thead>
    <tr>
      <td align="center"><strong>Фамилия</strong></td>
      <% for i in 1..@problems.count %>
        <td> <%= i %> </td>
      <% end %>
    </tr>
  </thead>

    <% @students.each do |student| %>
       <tr> 
       <td> <%= student.name %> </td>

        <% student.tasks.each do |task| %>
          <td> 
            <% case task.status 
              when "accepted" %>
              qeqwq

            <% when "not_submitted" %>
              ns

            <% end %> 
          </td>
        <% end %>

       </tr>
    <% end %>
  
</table>