<%= form_for resource, remote: true do |f| %>
  <%= f.hidden_field :is_read, value: !resource.is_read %>
  <%= button_tag type: :submit, name: 'commit', class: 'btn btn-default',
                 data: { toggle: 'tooltip', placement: 'left' },
                 title: resource.is_read ? 'Отметить как непрочитанное' : 'Отметить как прочитанное' do %>
    <span class="glyphicon glyphicon-<%= resource.is_read ? 'repeat' : 'ok' %>"></span>
  <% end %>
<% end %>
