<h2>Задачи</h2>
<% @homeworks.each do |hw| %>

<strong>
  Домашняя работа <%= hw.number %>
  <% if signed_in? && current_user.teacher? %>
    <%= link_to edit_homework_path(hw) do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  <% end %> 
</strong>

  <ol>
  <% hw.problems.each do |problem| %>
    <li> <%= problem.text %> </li>
    <% end %>
  </ol>
<% end %>