<h2>Задачи</h2>
<% @homeworks.each do |hw| %>
<strong> Домашняя работа <%= hw.number %> <%= link_to "Редактировать", edit_homework_path(hw) if signed_in? && current_user.teacher?%> </strong>
  <ol>
  <% hw.problems.each do |problem| %>
    <li> <%= problem.text %> </li>
    <% end %>
  </ol>
<% end %>