<div class="row">
	<div class="col-md-12">
    <div class="well">
      <h1><strong>HwProj</strong> — сайт для проверки домашних работ.</h1>
      <br>
      <%= render 'courses/index' %>
    </div>
	</div>

</div>
<div class="row">
  <div class="col-md-4">
    <%= link_to(image_tag("Group.png", class: "img-responsive"), "/images/Group.png") %>
    <p align="center">Зелёная ячейка — задание зачтено. Жёлтая — нужно исправить.</p>
  </div>
  <div class="col-md-4">
    <%= link_to(image_tag("Notes.png", class: "img-responsive"), "/images/Notes.png") %>
    <p align="center">Задание будет зачтено, когда все замечания будут исправлены.</p>
  </div>
  <div class="col-md-4">
    <%= link_to(image_tag("Welcome.png", class: "img-responsive"), "/images/Welcome.png") %>
    <p align="center">Загружайте решения вовремя ;)</p>
  </div>
</div>