<div class="row">
	<div class="col-md-9">
    <div class="jumbotron"><h4><strong>HwProj</strong> — сайт для проверки домашних работ.<br> Сейчас он доступен для студентов 144 группы, подгруппы Тимофея Брыксина.</h4></div>

    <div class="well hidden"><strong>HwProj</strong> — это круто! Больше не нужно писать множество писем преподавателю, бесконечно ждать ответа (если письмо не дойдёт), вы получаете замечания, выкладываете исправленную версию решения и сразу узнаёте, когда задача принята.</div>
		
	</div>

  <div class="col-md-3 well">
    <%= render 'courses/index' %>
  </div>

</div>
<div class="row">
  <div class="col-md-4">
    <%= link_to(image_tag("Group.png", class: "img-responsive"), "/images/Group.png") %>
    <p align="center">Зелёная ячейка — задание зачтено. Жёлтая — нужно исправить.</p>
  </div>
  <div class="col-md-4">
    <%= link_to(image_tag("Notes.png", class: "img-responsive"), "/images/Notes.png") %>
    <p align="center">Задание будет зачтено, когда все замечания будут исправлены.</p>
  </div>
  <div class="col-md-4">
    <%= link_to(image_tag("Welcome.png", class: "img-responsive"), "/images/Welcome.png") %>
    <p align="center">Загружайте решения вовремя ;)</p>
  </div>
</div>