<div class="row">
	<div class="col-md-8">
		<h1>Группы</h1>
		<% if @groups.any? %>
			<ul>
			<% @groups.each do |group| %>
				<li><h2><%= link_to group.name, group %></h2></li>
			<% end %>
			</ul>
		<% else %>
		<h2>Групп нет.</h2>
		<% end %>
	</div>
	<div class="col-md-4">
		<h1>Объявления</h1>
	</div>
</div>