<h2> Новая домашняя работа </h2>

<%= simple_form_for @homework  do |f| %>
  <%= f.association :group, label: "Группа", required: false %>
  <br>
  <%= f.button :submit, "Продолжить", class: "btn btn-primary" %>
<% end %>