<a data-toggle="popover" data-container="body" data-placement="left" type="button" data-html="true" title="Легенда" href="#" id="legend">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
</a>
<div id="popover-content" class="hide">
  <ul class="list-group">
    <li class="list-group-item task-with-submissions">Загружено решение</li>
    <li class="list-group-item task-with-notes">Есть замечания</li>
    <li class="list-group-item task-with-new-submissions-and-notes">Загружено новое решение</li>
    <li class="list-group-item accepted-task">Решение принято</li>
  </ul>
</div>

<script type="text/javascript">
$("[data-toggle=popover]").popover({
    html: true, 
    content:
        function() {
          return $('#popover-content').html();
        }
});
</script> 
