<li class="pull-right dropdown">
  <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Значение цвета ячейки <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a ></a></li>
    <li class="task task-with-submissions">Загружено решение</li>
    <li class="task task-with-notes">Есть замечания</li>
    <li class="task task-with-new-submissions-and-notes">Загружено новое решение</li>
    <li class="task accepted-task">Решение принято</li>
  </ul>
</li>