<%= simple_form_for @course do |f| %>
  <div class="col-md-4">
    <%= f.input :group_name, label: 'Номер группы' %>
    <%= f.input :name, label: 'Предмет' %>
    <%= f.button :submit, 'Сохранить', class: 'btn btn-primary' %>
  </div>
<% end %>