<% if @teacher %>
  <div class="btn-group">
    <% if @course.active? %>
      <%= link_to 'Завершить курс', course_path(@course, course: { active: false }), method: :put, data: { confirm: 'Вы уверены, что хотите завершить курс?' }, class: 'btn btn-default', style: 'color:inherit' %>
    <% else %>
      <%= link_to 'Возобновить курс', course_path(@course, course: { active: true }), method: :put, class: 'btn btn-default', style: 'color:green' %>
    <% end %>
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <span class="caret"></span>
	    <span class="sr-only">Toggle Dropdown</span>
	  </button>
	  <ul class="dropdown-menu">
      <li>
        <%= link_to 'Удалить курс', course_path(@course), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить курс?' }, style: 'color:red' %>
      </li>
	  </ul>
  </div>
<% end %>
