<% if @students.any? %>
  <%= render 'table' %>
<% else %>
  <br>
<% end %>

<% if (@student && @student.approved?) || @teacher %>
  <%= render 'course_settings' %>
<% end %>

<% if @assignments.any? %>
  <%= render 'homeworks' %>
<% else %>
  <h3>Здесь пока ничего нет.</h3>
<% end %>
