<div class="row">
	<div class="col-md-4">
    <h1>Настройки курса</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<p><%= link_to 'Назад к курсу', @course %></p>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
    <h3>Здесь будут настройки курса.</h3>
	</div>
</div>