<div style="border: 1px solid black" class="col-md-8 group-name">
  <h2> <%= @course.name %> </h2>
  <h3> <%= "#{@course.group_name} группа, #{@term.number} семестр" %> </h3>
</div>

<div style="border: 1px solid black" class="col-md-4">
  <h4> <%= @course.teacher.full_name %> </h4>
  <% if signed_in? && current_user.student? %>
    <% if @subscription.nil? %> 
      <%= link_to 'Записаться', students_path(student: {term_id: @term.id}), method: :post, class: 'btn btn-success' %>
    <% elsif (not @subscription.approved?) %>
      <div class="alert alert-warning" role="alert">
        Преподаватель скоро активирует Вашу учётную запись.
      </div>
    <% end %>
  <% end %>
</div>

