<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h1 class="modal-title" id="MarkdownLabel">Синтаксис Markdown</h4>
</div>

<div class="modal-body">
  <table class="table table-striped">
   <thead>
     <tr>
       <th><h3>Результат</h3></th>
       <th><h3>Markdown</h3></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td><strong>Текст</strong></td>
       <td><pre>**Текст**</pre></td>
     </tr>
     <tr>
       <td><em>Текст</em></td>
       <td><pre>*Текст*</pre></td>
     </tr>
     <tr>
       <td><del>Текст</del></td>
       <td><pre>~~Текст~~</pre></td>
     </tr>
     <tr>
       <td><a>Описание</a></td>
       <td><pre>[Описание](httl://)</pre></td>
     </tr>
     <tr>
       <td><code>Код</code></td>
       <td><pre>`Код`</pre></td>
     </tr>
     <tr>
       <td><ul><li>Маркированный список</li></ol></td>
       <td><pre>* Маркированный список</pre></td>
     </tr>
     <tr>
       <td><ol><li>Нумерованный список</li></ol></td>
       <td><pre>1. Нумерованный список</pre></td>
     </tr>
     <tr>
       <td><blockquote>Цитата</blockquote></td>
       <td><pre>> Цитата</pre></td>
     </tr>
   </tbody>
 </table>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
</div>
