/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@font-face {
	font-family: "WeblySleek UI";
	src: font-url("weblysleekuil.ttf") format("truetype");
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

.page-heading h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

.navbar {
	padding-left: 10px;
}

.navbar-inverse .navbar-right .navbar-nav li a,
.navbar-inverse .navbar-header .navbar-brand {
	color: #aeaeae;
}

.navbar-inverse .navbar-right .navbar-nav li a:hover,
.navbar-inverse .navbar-header .navbar-brand:hover {
	color: #f3f3f3;
}

.navbar-inverse .navbar-right .navbar-nav .dropdown .dropdown-menu a {
	color: #333;
}

/*.navbar-inverse {
	background-color: #2c3e50;
	font-family: "WeblySleek UI","Segoe UI","Helvetica Neue", Arial, sans-serif;
}*/

/*.navbar-inverse .navbar-btn {
  background-color: #444444;
  border-color: #333333;
  color: #999999;
}

.navbar-inverse .navbar-btn:hover {
  color: #ffffff;
  background-color: #555555;
}*/

.accepted-task {
	background-color: #7ad67a;
}

.task a {
	padding:0;
	margin:0;
	display: block;
	width: 100%;
	height: 31px;
}

.rejected-task {
	background-color: #f7716d;
}

.task-with-notes {
	background-color: #ffcb6c;
}

.task-with-submissions {
  background-color: #eee8aa;
}

.separator {
  background-color: #eeeeee;
}

.glyphicon-remove {
  color: #d9534f;
}

.glyphicon-ok {
  color: #5cb85c;
}

.glyphicon-exclamation-sign {
  color: #f0ad4e;
}

.glyphicon-info-sign {
  color: #f0ad4e;
} 

.glyphicon-ok-sign {
    color: #5cb85c;
}

.read_notification {
  opacity: 0.5;
}

.notifications {
	margin-top: 15px;
}

.notifications table {
    border-collapse: separate;
    border-spacing: 10px 0;
}

.destroy-link {
  color: #f33731;
}