/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

.page-heading h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

.navbar {
	padding-left: 10px;
}

.navbar-inverse .navbar-btn {
  background-color: #444444;
  border-color: #333333;
  color: #999999;
}

.navbar-inverse .navbar-btn:hover {
  color: #ffffff;
  background-color: #555555;
}

.accepted-task {
	background-color: #7ad67a;
}

.task a {
	padding:0;
	margin:0;
	display: block;
	width: 100%;
	height: 31px;
}

.rejected-task {
	background-color: #f7716d;
}

.task-with-notes {
	background-color: #ffcb6c;
}

.task-with-submissions {
  background-color: #fcf8e3;
}

.separator {
  background-color: #eeeeee;
}
