<p>Привет, <%= @resource.email %>!</p>

<p>Вы запросили ссылку для смены пароля. Ссылка представлена ниже:</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали такую ссылку, проигнорируйте сообщение.</p>
<p>Ваш пароль не изменится, пока вы не перейдёте по ссылке и не создадите новый.</p>
