<p>Привет, <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован из-за нескольких неудачных попыток войти.</p>

<p>Перейдите по ссылке ниже, чтобы разблокировать ваш аккаунт:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
